/* ======= CSS Preset ======= */

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* ======= Nonogram Styling ======= */

.nonogram-wrapper {
  width: 100%;
  padding: 50px;
  padding-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#nonogram-table {
  border-collapse: collapse;
}

.cell, .hint {
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  text-align: center;
  line-height: 30px;
}

.cell {
  background-color: white;
  cursor: pointer;
}

.filled.correct {
  background-color: green;
}

.filled.incorrect {
  background-color: red;
}

.hint {
  background-color: #eee;
}

.hint.empty {
  border: none;
  background-color: transparent;
}

.empty-correct {
  background-color: yellow;
}

/* ======= Modal Button Styling ======= */

.buttons-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.btn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.help-btn {
  background-color: #4CAF50; /* Green */
}

.stats-btn {
  background-color: #008CBA; /* Blue */
}

.share-btn {
  background-color: #f44336; /* Red */
}


/* ======= Modal Styling ======= */

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  animation-name: slideIn;
  animation-duration: 0.4s;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes slideIn {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

#nonogram-preview {
  white-space: pre;
  line-height: 1.2rem;
  letter-spacing: 0.2rem;
}